<fieldset>
  <legend>
    <h3>Create Product</h3>
  </legend>
  <div class="inputs">
    <form (submit)="createProduct()" #formData="ngForm">
      <label>
        Title:
        <input type="text" name='title' required minlength="4" [(ngModel)]="newProduct.title" #title="ngModel">
      </label>
      <label>
        Price:
        <input type="text" name='price' required [(ngModel)]="newProduct.price" #price="ngModel">
      </label>
      <label>
        Image URL:
        <input type="text" name='pic' [(ngModel)]="newProduct.pic" #pic="ngModel">
      </label>
      <br><br>
      <button type="submit" [disabled]="formData.invalid">Create</button>
    </form>
  </div>
  <div class="validations">
      <span *ngIf="title.invalid" class="err">Title is required. Must be at least 4 characters</span>
      <span *ngIf="title.valid" class="valid">&#x2713;</span>
      <span *ngIf="price.invalid" class="err">Price is required.</span>
      <span *ngIf="price.valid" class="valid">&#x2713;</span>
      <span class="valid">&#x2713;</span>
  </div>
</fieldset>